body {
    display: flex;
    justify-content: center;
    margin: 50px;
    background-color: rgb(9, 136, 209);
}

h1 {
    font-style: italic;
}

p {
    font-size: 30px;
}

.caixote {
    text-align: center;
    background-color: rgb(231, 235, 27);
    margin: 10%;
    border-radius: 20px;
    width: 500px;
}

button {
    margin: 5%;
    background-color: aquamarine;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    font-size: medium;
}